/* font related styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}


/* nav-bar related styles */

.nav-bar {
    margin: 44.5px 134px 0px 134px;
}
.nav-flex {
    display: flex;
    justify-content: space-between;
}
.nav-bar a{
    text-decoration: none;
}
.nav-bar ul {
    list-style: none;
}

/* banner related styles */

.hero-section {

    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    
}

/* display flex related styles */
.display-flex-colum-2{
    
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    /* justify-content: center; */
    align-items: center;
    place-items: center;

    margin-top: 104px;
    margin-bottom: 104px;

}
.fix-update {
    border-radius: 14px;
    margin: 0 auto;
    background: rgb(255, 255, 255);

    width: 1014px;
    height: 620px;
}

.margin-one {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    /* margin: o auto; */
}


.display-flex-colum {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 190px 238px 136px 238px;
}

.display-flex-colum-fix {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* margin: 190px 238px 136px 238px; */
    margin-top: 80px;
    margin-bottom: 80px;
}

.display-flex-colum-foot {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* margin: 190px 238px 136px 238px; */
}
.display-flex-colum-foot li{
   
    list-style: none;
}
.display-flexing {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
   
}

.text-dec-none{
     text-decoration: none;
}
.display-flex-1 {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: 20px;
}

.display-flex-3{

    display: grid;
    grid-template-columns: repeat(3, 3fr);
    place-items: center;
    text-align: center;
}
.display-flex-4{
    display: flex;
    padding: 10px;

}

.padding-text> p{
    padding-left: 10px;
}
.card-box {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    margin: 50px 134px 50px 134px;
    gap: 25px;
}

.card {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(242, 237, 237);
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
}

.card > p {
    padding: 10px 0px;
}

.img-radius {
    border-radius: 9999px;

}
/* margin for the hero btn */

.btn-margin {
    margin-top: 20px;
}

.margin-fix {
    display: grid;
    grid-template-columns: repeat(2, 2fr);

    place-items: center;
    justify-items: center;
    align-items: center;

    margin-left: 133.5px;
    margin-bottom: 50px;
    margin-right: 133.5px;
}

/* color related styles */
.sec-bag{
    background-color: rgb(245, 248, 255);
}
#foot-bag{
    background-color: white;
    padding: 130px 238px 130px 238px;
    /* margin: 190px 238px 136px 238px; */

}
.anchor-fix > a:visited {
    color: rgb(78, 71, 255);
    
}

.gray-text{
    color: rgba(37, 36, 50, 0.5);
}

.deep-gray{
    color: rgb(117, 117, 117);
    font-weight: 600;
}

/* font size related styles */


.font-size-one{
    font-size: 2.125rem;
    font-weight: 800;
}

.font-size-two{
    font-size: 3.6rem;
    font-weight: 700;
}

.action-text{
    font-size: 2.625rem;
    font-weight: 700;
}


.font-size-3{
    font-size: 2.375rem;
    font-weight: 600;
}
.font-size-4{
    
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
}
.font-size-5{
    
    font-size: 5.39rem;
    font-weight: 600;
    /* margin-left: 133.5px; */
}
.font-size-6{
    font-size: 6.25rem;
    font-weight: 900;
    color: rgb(78, 71, 255);
}


/* input related styles */
.text-input {
    font-size: 1.125rem;
}

input {
    box-sizing: border-box;
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;

    background: rgb(255, 255, 255);

}
input[type="text"], input[type="email"] {


    width: 442.33px;        
    height: 62.3px;   

    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 25px;         
    font-size: 1.25rem;


}
textarea {
    width: 100%;
    height: auto;
    min-height: 120px;
    max-width: 442.33px;

    padding: 30px;
    margin: 15px 0px;
    box-sizing: border-box;
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;

    background: rgb(255, 255, 255);
}


.action-big{
    font-size: 5rem;
    font-weight: bold;
    color: rgb(78, 71, 255);
    font-family: inter;
}


/* button related styles */


.btn-1 {
    border: solid;
    border-radius: 10px;
    background: rgb(78, 71, 255);
    padding: 12px 32.04px;
    color: white;
    font-size: 1rem;
}
.btn-2 {
    width: 442.33px;
    border: solid;
    border-radius: 10px;
    background: rgb(78, 71, 255);
    padding: 12px 32.04px;
    color: white;
    font-size: 1rem;
}

.btn-1 > a{
    text-decoration: none; 
    color: white;
    font-weight: 700;
}


.btn-2 > a{
    text-decoration: none; 
    color: white;
    font-weight: 700;
}


/* img related styles */

.web-flow-img > img {
    border-radius: 48px;
    height: 291px;
    width: 358px;

}

.img-radius-2 > img{
    border-radius: 48px;
    margin-top: 30px;
}

/* box */

#box{

    border-radius: 24px;

    background: rgba(78, 71, 255, 0.1);
    padding: 44.5px 71.2px;
    margin: 0 141px;
    margin-bottom: 50px;
}